@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}


* {
	margin: 20;
	padding: 0;
	text-align: center;
	font-family: 'Open Sans', Segoe UI, Arial, sans-serif;
	color: white;
}

html {
	background: url(../img/ws_The_Road.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;	
	background-position: fixed;
	height: 100%;
}

#brand{
	position: static;
	width: 594px;
	height: 139px;
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px auto;
}
@media all and (max-width: 600px) {
	#brand{
	    width: 350px;
    	height: 75px;
	}
}
@media all and (max-width: 480px) {
	#brand{
		width: 270px;
		height: 60px;
	}
}

#contenedorgeneral {
	top: 50%;
	margin: 10% auto 0px auto;
	max-width: 600px;
	text-align: center;
}

h3#eslogan {
	font-size: 20px;
	font-style: italic;
	letter-spacing: 6px;
	text-transform: uppercase;
}


section#redes-sociales li {
	display: inline-block;
	list-style: none;
	text-decoration: none;
}
