header {
	nav {
		background-color: #012245;
		color: white;
		a {
			color: white;
		}
		li a {
			font-weight: 500;
			@media screen and (max-width: 991.90px) {
				padding-left: 5px !important;
				padding-right: 5px !important;
			}
		}
	}
	.dropdown-toggle:after {
		vertical-align: middle !important;
		@media screen and (max-width: 991.90px) {
			margin-left: -2px !important;
		}
	}
}